@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
:root {
  --headingColor: hsl(223, 47%, 23%);
  --text-color: rgb(116, 119, 138);
  --box-backround: hsl(225, 100%, 94%);
  --anchor-color: hsl(245, 75%, 52%);
  --button-primary: hsl(245, 75%, 52%);
  --button-primary-hover: hsl(224, 23%, 55%);
  --button-secondary: transparent;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.background {
  position: fixed;
  top: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.containerContent {
  background-color: var(--box-backround);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 370px;
  border-radius: 10px;
  box-shadow: 0 1rem 2.5rem 0.5rem rgba(0, 0, 0, 0.2);
}
.headerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
.content {
  padding: 2rem;
  text-align: center;
  margin: 0 0.75rem;
}
.content h1 {
  font-weight: 900;
  color: var(--headingColor);
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
}
p {
  font-size: 13px;
  font-weight: 500;
  color: var(--text-color);
  line-height: 1.5;
}
.selectedPlan {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.9rem;
}
.selectedPlan a {
  color: var(--anchor-color);
  font-size: 0.75rem;
  font-weight: 700;
  text-decoration: underline;
}
.planInfo {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.planInfo img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}
.planDescription {
  display: flex;
  gap: 4px;
  align-items: baseline;
  flex-direction: column;
}
.planType {
  font-weight: 900;
  font-size: 0.8rem;
  color: var(--headingColor);
}
.paymentButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-weight: 700;
  margin-top: 2rem;
  gap: 0.5rem;
}
.proceedBtn {
  background-color: var(--button-primary);
  color: #fff;
  font-size: 0.8rem;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
    box-shadow: 0 4px 0.5rem 0rem rgba(0, 0, 0, 0.2);
}
.proceedBtn:hover {
  background-color: var(--button-primary-hover);
}
.cancelBtn {
  background-color: transparent;
  color: var(--button-primary);
  font-size: 0.8rem;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--text-color)
}
.cancelBtn:hover {
  color: var(--headingColor);
}